body{
    /* font-family: Poppins; */
}
.heading{
    
    /* font-family: Poppins; */
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
.login-form {
    margin-top: 50px;
    margin-left: 35%;
    margin-right: 30%;

}
.pink{
    color: #F41CB2;
}
.orange{
    color: #F25511;
}
.yellow{
    color: #FF912E;
}
.btn{
    display: inline;
}
.slide-check{
    display: inline-block;
    margin-left: 100px;
}
.btn:hover{
    background: linear-gradient(45deg,#F41CB2,#FF912E) ;
}