body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0.1, 0, 0, 0.3);
}

.profile-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-header h1 {
    margin: 10px 0;
    font-size: 24px;
}

.profile-stats {
    margin: 20px 0;
    text-align: center;
}

.profile-content {
    display: flex;
    justify-content: space-between;
}

.profile-section {
    width: 48%;
}

.profile-section h2 {
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.pins-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pins-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

#share-profile {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#share-profile:hover {
    background-color: #0056b3;
}
nav{
    background-color: #FFFFFF;
}
.nav-item {
    margin-left: 20px;
}
.nav-item:hover {
    margin-left: 20px;
    color: blue;
}
#myntra-moods{
    margin-left: 0px;
    font-weight: 700;
}